*{
    color: white;
    font-family: 'Franklin Gothic Medium', Arial, sans-serif;
    background-color: black;
    font-size: 25px;
    font-weight: 500;
    text-transform: lowercase;
}
.btn {
    width: 150px;
    height: 75px;
    background-color: white;
    color: black;
}

#game{
    text-align: center;
}

